
@{
    ViewBag.Title = "material";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>

   
    var keyvalue = request('keyvalue');
    jQuery(function () {

        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
        load();
    });
    function load() {
        jQuery('#gridTable').jqGrid({
            url: '/..@Url.Action("getDeptRead")',
            datatype: "json",
            
            postData: { keyvalue: keyvalue },
            height: $(window).height() - 165,
            shrinkToFit: false,
            gridview: true,
            autowidth: true,
            colModel:[
               { label: '班组', name: 'deptname', index: 'deptname', width: 300, align: 'center', sortable: true },
              
               {
                   label: '学习状态', name: 'readnum', index: 'readnum', width: 300, align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                       var html = "";

                       if (rowObject.readnum.indexOf("未学习")>=0) {
                           html += "<span style='color:read'>"+rowObject.readnum+"</span>";
                       } else {
                           html += rowObject.readnum;
                       }
                       return html;
                   }
               }
            ],
            rownumbers: true,
            rowNum: -1
        });
    }


</script>

<div class="gridPanel">
    <table id="gridTable"></table>

</div>
