@using BSFramework.Application.Entity.BaseManage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script src="~/Content/scripts/plugins/AdminPrettyDesktopFirst/js/LoadData.js"></script>
<script src="@Url.Content("~/Content/scripts/layui/layui.all.js")"></script>
<script>
    $(function () {

        InitialPage();

        GetGrid();
    });

    //初始化页面
    function InitialPage() {
        //$('#layout').layout({
        //    west: {
        //        size: 300
        //    },
        //    onresize: function () {
        //        $(window).resize()
        //    }
        //});

        $(window).resize(function (e) {
            window.setTimeout(function () {

                $("#gridTable").setGridHeight($(window).height() - 140);
            }, 200);
            e.stopPropagation();
        });
        //$("#departments").height($(window).height() - 50);
    }



    //加载表格
    function GetGrid() {
        var queryJson = {
            content: "",
            name: ""
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: '/..@Url.Action("GetPageListJson")',
            datatype: "json",
            height: $(window).height() - 140,
            postData: { queryJson: JSON.stringify(queryJson) },
            autowidth: true,
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                {
                    label: '操作', name: 'action', width: 135, align: 'center', sortable: false
                },
                { label: '工作任务', name: 'content', index: 'content', width: 600, align: 'center', sortable: false},

                { label: '周期', name: 'cycleDataStr', index: 'cycleDataStr', width: 600, align: 'center', sortable: true },
                { label: '责任人', name: 'dutyuser', index: 'dutyuser', width: 200, align: 'center', sortable: true},
                //{
                //    label: '上报时间', name: 'createdate', index: 'createdate', width: 200, align: 'center', sortable: false
                //    ,
                //    formatter: function (cellvalue, options, rowObject) {
                //        return formatDate(cellvalue, 'yyyy-MM-dd');
                //    },
                //    formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                //},
                {
                    label: '操作人', name: 'modifyuser', index: 'modifyuser', width: 180, align: 'center', sortable: false
                },
                {
                    label: '操作时间', name: 'modifytime', index: 'modifytime', width: 180, align: 'center', sortable: false,
                          formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    },
                    formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }

                }
            ],
            viewrecords: true,
            rowNum: 30,
            // rowList: [30, 50, 100],
            pager: "#gridPager",
            //sortname: 'createdate',
            //sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            gridComplete: function () {
                var gridid = this.id;
                $("#" + this.id).setSelection(selectedRowIndex, false);
                var rows = $("#" + this.id).jqGrid("getRowData");//获取当前页记录行数据
                //查询用户对该模块的数据操作权限
                $(rows).each(function (i, item) {
                    var html = "";
                    html += "<a href=\"javascript:edit('" + item.id + "')\" title=\"编辑\">编辑</a>";
                    html += "<a href=\"javascript:del('" + item.id + "')\" title=\"删除\">删除</a>";
                    $("td[aria-describedby='" + gridid + "_action']").eq(i).html(html);

                });
            }
            //,
            //loadError: function (xhr, status, error) {
            //    top.location.href = "../../Login/Index?Login_Error=1";
            //}
        });
        //$gridTable.authorizeColModel()
        //查询事件
        $("#btn_Search").click(function () {
            var $gridTable = $('#gridTable');
            var queryJson = {
                content: $("#content").val(),
                dutyuserid: $("#dutyuser").val()
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    function onNodeSelected(item) {
        deptid = item.id;
        $('#btn_Search').trigger("click");
    }


    function fn$import() {
        dialogOpen({
            id: "Import",
            title: '导入',
            url: '/..@Url.Action("Import")',
            width: "500px",
            height: "200px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.fn$ok();
            }
        });
    }
    //查看
    @*function show(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: "Detail",
                title: '查看',
                url: '/../@Url.Action("IndexAudit")?keyValue=' + keyValue,
                width: "1000px",
                height: "750px",
                btn: ['关闭'],
                callBack: function (iframeId) {
                    top.layer.close(dlg);

                }, end() {
                    ref();
                }
            });
        }
    }*@
        function edit(id) {
        dialogOpen({
            id: 'edit',
            title: '编辑定期任务',
            url: '/..@Url.Action("Edit")?keyvalue='+id,// '/Works/Safetyday/Form',
            width: '800px',
            height: '500px',
            callBack: function (iframeId) {
            top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    }

       function del(recId) {
        layer.confirm('确定要删除此记录？', { btn: ['确定', '取消'] }, function () {
            layer.closeAll();
            layer.load("删除中");
            jQuery.post('@Url.Action("delEntity")', { keyvalue: recId }, function (data) {
                layer.closeAll();
                if (data.message.indexOf("操作成功")>=0) {
                    $("#gridTable").trigger("reloadGrid");
                }
                else {
                    layer.msg(data.message)
                };
            }, 'json');
        });
    }
    function fn$add() {
        dialogOpen({
            id: 'edit',
            title: '新增定期任务',
            url: '/..@Url.Action("Edit")',// '/Works/Safetyday/Form',
            width: '800px',
            height:'500px',
            callBack: function (iframeId) {
            top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    }
    function ref() {
        var $gridTable = $('#gridTable');
        var queryJson = {
            content: $("#content").val(),
            dutyuserid: $("#dutyuser").val()
        }
        $gridTable.jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson) }, page: 1
        }).trigger('reloadGrid');
    }

</script>



<div id="toolbar" class="titlePanel">
    <div class="title-search">
        <div class="form-inline">
            <div class="form-group">
                <label for="team">工作内容</label>
                <input type="text" class="form-control" id="content" placeholder="请输入工作内容关键字">
            </div>
            <div class="form-group">
                <label for="team">责任人</label>
                <select id="dutyuser">
                    <option value="" selected="selected">全部</option>
                    @{ var deptuser = ViewData["deptuser"] as List<UserEntity>;
                        foreach (var item in deptuser)
                        {
                            <option value="@item.UserId">@item.RealName</option>
 } }
                </select>
            </div>
            <div class="form-group">
                <a id="btn_Search" class="btn btn-primary" onclick="fn$query();">
                    <i class="fa fa-search"></i> 查询
                </a>
            </div>
        </div>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="replace" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
        </div>
        <div class="btn-group">

        </div>
        <div class="btn-group">
            <a id="add" class="btn btn-default" onclick="fn$add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a id="import" class="btn btn-default" onclick="fn$import()"><i class="fa fa-file-excel-o"></i>&nbsp;导入</a>
        </div>

    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>










