<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<connectionStrings>
		<add name="BaseDb" connectionString="Data Source=10.36.1.77;port=3306;Initial Catalog=bst-bzzd;user id=bzuser;password=1234;charset=utf8" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="timeout" value="1800" />
		<add key="videosystem" value="http://storage-dev.bosafe.com" />
		<add key="playsystem" value="http://content-dev.bosafe.com" />
		<add key="userKey" value="user" />
		<add key="appkey2" value="8a5ec6ff1abd4bac9298ccff512190df" />
		<add key="appid" value="001" />
		<add key="appcode" value="FastDFS1234Bossien" />
		<add key="sharpness" value="sd" />
		<add key="FilePath" value="D:\Workspaces\bst\ElectricSafety\班组智能终端\BSFramework.Application\BSFramework.Application.Web\Resource" />
		<add key="bzapi" value="http://localhost/bzapp/api" />
		<!--是否使用极光推送(1:使用，0：不是用)-->
		<add key="IsUseJPush" value="0" />
		<!--极光推送的用户名-->
		<add key="AppKey" value="d939235e12288c1af90eaef2" />
		<!--极光推送的密码-->
		<add key="MasterSecret" value="dec94a80921f59b6389095a2" />
		<!--点击极光推送消息IOS当前环境(true：生产环境，false:开发环境)-->
		<add key="apns_production" value="false" />
		<!--移动端应用名称-->
		<add key="AppName" value="班组帮" />
		<!--演示环境-->
		<add key="DemoKey" value="" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netMsmqBinding>
				<binding name="bstNetMsmqBinding" queueTransferProtocol="Srmp">
					<security mode="None" />
				</binding>
			</netMsmqBinding>
		</bindings>
		<services>
			<service name="Bst.ServiceEngine.MessageQueue.QueueService">
				<endpoint name="upload" address="net.msmq://localhost/private/upload" binding="netMsmqBinding" contract="Bst.ServiceContract.MessageQueue.IQueueService" bindingConfiguration="bstNetMsmqBinding" />
			</service>
			<service name="Bst.ServiceEngine.MessageQueue.MsgService">
				<endpoint name="message" address="net.msmq://localhost/private/message" binding="netMsmqBinding" contract="Bst.ServiceContract.MessageQueue.IMsgService" bindingConfiguration="bstNetMsmqBinding" />
			</service>
		</services>
	</system.serviceModel>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v13.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>

			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
			</provider>
		</providers>
	</entityFramework>

	<unity>
		<typeAliases>
			<typeAlias alias="IDatabase" type="BSFramework.Data.IDatabase, BSFramework.Data" />
			<typeAlias alias="EFDatabase" type="BSFramework.Data.EF.Database, BSFramework.Data.EF" />
			<typeAlias alias="IDbContext" type="BSFramework.Data.EF.IDbContext, BSFramework.Data.EF" />
			<typeAlias alias="MySql" type="BSFramework.Data.EF.MySqlDbContext, BSFramework.Data.EF" />
			<typeAlias alias="SqlServer" type="BSFramework.Data.EF.SqlServerDbContext, BSFramework.Data.EF" />
			<typeAlias alias="Oracle" type="BSFramework.Data.EF.OracleDbContext, BSFramework.Data.EF" />
		</typeAliases>
		<containers>
			<container name="DBcontainer">
				<type type="IDatabase" mapTo="EFDatabase"></type>
				<type type="IDbContext" mapTo="MySql"></type>
				<type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type>
				<type type="IDbContext" mapTo="MySql" name="MySql"></type>
			</container>
		</containers>
	</unity>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.122.18.3" newVersion="4.122.18.3" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
