<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--<add key="owin:AutomaticAppStartup" value="false" />-->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="aspnet:MaxJsonDeserializerMembers" value="10000000"/>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 允许重复登录 -->
  <add key="CheckOnLine" value="true" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="true" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="true" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="Redis" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wx3e4c8f84a165a142" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="XDwJUlMeqQAVI3Iu0ZpJ-5MYzBJmhuBAF9GTBqY7mnJg_j23JTidYcslyTg9SL0B" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.bossien.cn" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="开封发电公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="班组智能终端" />
  <!-- 软件名称 -->
  <add key="SoftName" value="FDBZ" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:2013101712345678" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="true" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="894313147@qq.com" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.exmail.qq.com" />
  <!-- ================== 6：短信参数 ================== -->
  <!-- 短信账户 -->
  <add key="SMSAccount" value="jumuxx_lr" />
  <!-- 短信密码 -->
  <add key="SMSPswd" value="Lrxx158753" />
  <!-- 短信接口地址 -->
  <add key="SMSUrl" value="http://localhost:80/msg/HttpBatchSendSM" />
  <!-- ================== 7：即时通信参数 ================== -->
  <!-- SignalR服务接口-->
  <add key="SignalRUrl" value="http://10.36.0.170:8081/signalr" />
  <!-- Map层dll名称-->
  <add key="MappingName" value="BSFramework.Application.Mapping.dll" />
  <!--数据库Schema名称，如果是Oracle，此项必须配置并且都为大写字母-->
  <add key="SchemaName" value="C##BSFRAMEWORK" />
  <!--培训平台管理账号-->
  <add key="userAccount" value="gjdthhjxadmin" />
  <!--内网教育培训地址-->
  <add key="EduPageUrl" value="http://10.36.1.133/hhdljxsstms_common" />
  <add key="StartDate" value="2018/4/26" />
  <add key="Lng" value="114.31151" />
  <add key="Lat" value="30.598405" />
  <add key="Round" value="300" />
  <add key="SyncUrl" value="http://10.36.1.134/csapp/api/syncdata/" />
  <add key="SyncRole" value="http://10.36.1.134/cspp/api/post/" />
  <add key="SyncIp" value="http://10.36.1.134/cs" />
  <add key="SyncIpName" value="http://10.36.1.134/cs" />
  <add key="SyncBool" value="t" />
  <add key="AllowManage" value="true"/>

  <!--是否使用极光推送(1:使用，0：不是用)-->
  <add key="IsUseJPush" value="0" />
  <!--极光推送的用户名-->
  <add key="AppKey" value="d939235e12288c1af90eaef2" />
  <!--极光推送的密码-->
  <add key="MasterSecret" value="dec94a80921f59b6389095a2" />
  <!--点击极光推送消息IOS当前环境(true：生产环境，false:开发环境)-->
  <add key="apns_production" value="false" />
  <!--移动端应用名称-->
  <add key="AppName" value="班组帮" />
  <!--演示环境-->
  <add key="DemoKey" value=""/>
  <!--应急处置卡权限 -->
  <add  key="EmergencyCard"  value="HSE部" />
  <!--班组考评权限-->
  <add key="EvaluateDept" value="HSE部"/>
  <add key="workinnovation" value="HSE部"/>
  <!--<add key="CustomerModel" value="危险预知训练" />-->

  <!--<add key="SyncUrl" value="http://10.36.5.1/bzzdapi/api/syncdata/" />-->
  <!--培训平台同步-->
  <add key="TrainingSync" value="1" />
  <add key="TrainingSystem" value="http://ztsj-sit.bosafe.com/BZWebService_common/BzInterface.asmx/"/>
  <!--双控平台API地址-->
  <!--班组违章数据从双控平台取-->
  <add key="ErchtmsApiUrl" value="http://192.168.1.134/kfdcapp/api/"/>
  <!--成本管理部门-->
  <add key="CostDept" value="生产技术部"/>
  <add key="TrainingType" value="人身风险预控"/>
  <add key="TrainingDept" value="HSE部"/>
  <add key="SchedulerPath" value="D:\Workspaces\bst\ElectricSafety\班组智能终端\Bst.Scheduler.Client\bin\Debug\Bst.Scheduler.Client.exe"/>
  <add key="UserName" value=""/>
  <add key="Pasword" value=""/>
  <!--java培训平台-->
  <add key="javaApi" value="http://tp-pre.1safety.cc/api/"/>
</appSettings>