<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="bzapi" value="http://localhost/bzapp/api" />
		<add key="timeout" value="300" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<connectionStrings>
		<add name="BaseDb" connectionString="Data Source=10.36.1.77;port=3306;Initial Catalog=bst-bzzd;user id=bzuser;password=1234;charset=utf8" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
			</provider>
		</providers>
	</entityFramework>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<unity>
		<typeAliases>
			<typeAlias alias="IDatabase" type="BSFramework.Data.IDatabase, BSFramework.Data" />
			<typeAlias alias="EFDatabase" type="BSFramework.Data.EF.Database, BSFramework.Data.EF" />
			<typeAlias alias="IDbContext" type="BSFramework.Data.EF.IDbContext, BSFramework.Data.EF" />
			<typeAlias alias="MySql" type="BSFramework.Data.EF.MySqlDbContext, BSFramework.Data.EF" />
			<typeAlias alias="SqlServer" type="BSFramework.Data.EF.SqlServerDbContext, BSFramework.Data.EF" />
			<typeAlias alias="Oracle" type="BSFramework.Data.EF.OracleDbContext, BSFramework.Data.EF" />
		</typeAliases>
		<containers>
			<container name="DBcontainer">
				<type type="IDatabase" mapTo="EFDatabase"></type>
				<type type="IDbContext" mapTo="Oracle"></type>
				<!--<type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type>
				<type type="IDbContext" mapTo="MySql" name="MySql"></type>
				<type type="IDbContext" mapTo="Oracle" name="Oracle"></type>-->
			</container>
		</containers>
	</unity>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false" />
		<bindings>
			<netMsmqBinding>
				<binding name="bstNetMsmqBinding" queueTransferProtocol="Srmp">
					<security mode="None"></security>
				</binding>
			</netMsmqBinding>
		</bindings>
		<client>
			<endpoint name="upload" address="net.msmq://localhost/private/upload" binding="netMsmqBinding" contract="Bst.ServiceContract.MessageQueue.IQueueService" bindingConfiguration="bstNetMsmqBinding" />
			<endpoint name="message" address="net.msmq://localhost/private/message" binding="netMsmqBinding" contract="Bst.ServiceContract.MessageQueue.IMsgService" bindingConfiguration="bstNetMsmqBinding" />
		</client>
	</system.serviceModel>
</configuration>
