@using BSFramework.Application.Entity.SystemManage

@{
    ViewBag.Title = "VeriFyEduPlanInfo";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script src="@Url.Content("~/Content/scripts/layui/layui.all.js")"></script>
<style type="text/css">
    .submit{display:inline-block;width:130px;height:40px;line-height:40px;text-align:center;color:#fff;border:none;font-size:16px;border-radius:4px;float:right;background:#3669e1;}
    </style>
<script>

    var keyValue = "";
    var mode = request('mode');
    jQuery(function () {
        var mark = $("input[type=radio][checked]").val();
        $("input[type=radio]").click(function () {
            mark = $(this).val();
            $("input[type=radio]").each(function () {
                if ($(this).val() != mark) {
                    $(this).removeAttr('checked');
                }
                else {
                    $(this).attr('checked', 'checked');

                }

            });

        });



    });

    function fn$submit() {
        if (!$('#form1').Validform()) {
            return false;
        } else {
            AcceptClick()
        }
    }
    //保存表单;
    function AcceptClick() {
   
        var postData = $("#form1").formSerialize(keyValue);
        postData["workState"] = $("input[type=radio]:checked").val();
        $.SaveForm({
            url: "@Url.Action("VeriFyPlanInfo")",
            param: postData,
            loading: "正在保存数据...",
            success: function (data) {
                if (data.message == "操作成功") {
                    layer.close();
                  
                }
            }
        })
    }
 
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form" id="form1">
        <tr>
            <td class="formTitle" style="width:100px;">计划类型</td>
            <td class="formValue">
                <input type="radio" name="workState" value="月度">月度<input type="radio" name="workState" value="年度">年度<input type="radio" name="workState" value="季度">季度
            </td>
        </tr>

        <tr>
            <td class="formTitle" style="width:100px;">计划类型</td>
            <td class="formValue">
                <input id="TrainDateYear" type="text" class="form-control" style="width:50px;display:inline-block" onfocus="WdatePicker({ dateFmt: 'yyyy' });" isvalid="yes" readonly="readonly" checkexpession="NotNull" />
  年<input id="TrainDateMonth" type="text" class="form-control" style="width:50px;display:inline-block" onfocus="WdatePicker({ dateFmt: 'M' });" readonly="readonly" />季度/月
            </td>
        </tr>
    </table>
    <div><button type="submit" class="submit" onclick="if (!fn$submit()) return false;">提交</button></div>
</div>
