<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="redisconfig" type="BSFramework.Cache.Redis.RedisConfigInfo,BSFramework.Cache.Redis" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<redisconfig configSource="XmlConfig\redis.config" />
	<unity configSource="XmlConfig\ioc.config" />
	<appSettings configSource="XmlConfig\system.config" />
	<connectionStrings configSource="XmlConfig\database.config" />
	<system.data>
		<DbProviderFactories>
			<add name="EF Dm Data Provider" invariant="EFDmProvider" description="EF Provider for Dm Server" type="EFDmProvider.EFDmProviderFactory, EFDmProvider.EF6" />
		</DbProviderFactories>
	</system.data>
	<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
	<system.web>
		<httpRuntime maxRequestLength="104857600" />
		<sessionState mode="InProc" timeout="120" />
		<compilation debug="true" targetFramework="4.5.2" />
		<customErrors mode="Off" defaultRedirect="\Error\ErrorPath404" />
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<authentication>
			<forms defaultUrl="/Login" loginUrl="/Login" name=".bzzd" path="/" timeout="60" cookieless="UseCookies" protection="All" />
		</authentication>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET,POST" />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="204800000" />
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<defaultDocument>
			<files>
				<clear />
				<add value="index.htm" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.html" />
				<add value="iisstart.htm" />
				<add value="default.aspx" />
			</files>
		</defaultDocument>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
			<remove fileExtension=".ttf" />
			<mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
		</staticContent>
		<directoryBrowse enabled="true" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.10.9.0" newVersion="6.10.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.122.1.0" newVersion="4.122.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--<entityFramework codeConfigurationType="EFDmProvider.EFDmConfiguration, EFDmProvider.EF6">
    <providers>
      <provider invariantName="EFDmProvider" type="EFDmProvider.EFDmProviderServices, EFDmProvider.EF6" />
    </providers>
  </entityFramework>-->
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v12.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false" />
		<bindings>
			<netMsmqBinding>
				<binding name="bstNetMsmqBinding" queueTransferProtocol="Srmp">
					<security mode="None" />
				</binding>
			</netMsmqBinding>
		</bindings>
		<client>
			<endpoint name="upload" address="net.msmq://localhost/private/upload" binding="netMsmqBinding" contract="Bst.ServiceContract.MessageQueue.IQueueService" bindingConfiguration="bstNetMsmqBinding" />
			<endpoint name="message" address="net.msmq://localhost/private/message" binding="netMsmqBinding" contract="Bst.ServiceContract.MessageQueue.IMsgService" bindingConfiguration="bstNetMsmqBinding" />
		</client>
	</system.serviceModel>
	<!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="bzzd" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.36.1.167)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
</configuration>