@{
    ViewBag.Title = "部门详情";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style type="text/css">
    /*table tr {
        line-height: 60px;
    }*/
</style>
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {
        //上级部门
        $("#OrganizeTree").ComboBoxTree({
            url: "../../BaseManage/Department/GetOrganizeTreeJson",
            description: "==请选择==",
            height: "250px",
            click: function (item) {
                if (item.Sort == 'Organize') {
                    organizeId = item.id;
                    parentId = 0;
                } else {
                    parentId = item.id;
                }
            }
        });
        //获取表单
        if (!!keyValue) {
            
            $.SetForm({
                url: "../../BaseManage/Department/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    if (data.ParentId == 0) {
                        $("#OrganizeTree").ComboBoxTreeSetValue(data.OrganizeId);
                    } else {
                        $("#OrganizeTree").ComboBoxTreeSetValue(data.ParentId);
                    }
                    parentId = data.ParentId;
                    organizeId = data.OrganizeId;
                    $("#form1").find('.form-control,.ui-select,input').attr('disabled', 'disabled');

                }
            });
        }
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <th class="formTitle">上级部门<font face="宋体">*</font></th>
            <td class="formValue">
                <div id="OrganizeTree" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
            <th class="formTitle">负责人</th>
            <td class="formValue">
                <input id="Manager" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">部门名称<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="FullName" type="text" class="form-control" />
            </td>
            <th class="formTitle">部门编号<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="EnCode" type="text"  class="form-control"  />
            </td>
        </tr>
        <tr>
            <th class="formTitle">部门简称</th>
            <td class="formValue">
                <input id="ShortName" type="text" class="form-control" />
            </td>
            <th class="formTitle">部门性质</th>
            <td class="formValue">
                <input id="Nature" type="text" class="form-control" />
            </td>
        </tr>
        @*<tr>
            <th class="formTitle">电话号</th>
            <td class="formValue">
                <input id="OuterPhone" type="text" class="form-control" />
            </td>
            <th class="formTitle">分机号</th>
            <td class="formValue">
                <input id="InnerPhone" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">邮箱</th>
            <td class="formValue">
                <input id="Email" type="text" class="form-control" />
            </td>
            <th class="formTitle">传真</th>
            <td class="formValue">
                <input id="Fax" type="text" class="form-control" />
            </td>
        </tr>*@
        <tr style="line-height:100px;">
            <th class="formTitle" valign="top" style="padding-top: 4px;">
                备注
            </th>
            <td class="formValue" colspan="3">
                <textarea id="Description" class="form-control" style="height: 100px;"></textarea>
            </td>
        </tr>
    </table>
</div>
