body{
    margin: 0;
    padding: 0;
}
h2 {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}
.item_title {
    font-size: 0.38rem;
    padding-left: 0.5rem;
    height: 1.4rem;
    line-height: 1.5rem;
    border-bottom: 1px solid #eee;
   
}
.content ul li {
    font-size: 0.35rem;
    height: 1rem;
    line-height: 1rem;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
}
.content ul li span {
    display: inline-block;
    padding: 0.01rem 0.8rem;
    background: #d5ebf6;
    color: #2e99d1;
    border-radius: 0.5rem;
    float: right;
    height: 0.7rem;
    line-height: 0.7rem;
    margin-right: 0.2rem;
    margin-top: 0.15rem;
    font-weight: bold;
    }
.content table{
    width: 100%;
    text-align: center;
}
.content table tr {
    height: 1.2rem;
    line-height: 1.2rem;
}
.content table tr:nth-child(odd){
    background: #fbfbfb;
}
.content table tr:nth-child(even){
    background: #ffffff;
}
.content table th {
    height: 1.2rem;
    line-height: 1.2rem;
    background: #f2f2f2;
    font-weight: bold;
    font-size: 0.15rem;
}
.content table td{
    font-size: 0.1rem;
}
#chart1,#chart3{
    width: 100%;
    height: 8rem;
}
.chart2_content{
    display: flex;
}
.finish{
    font-size: 0.15rem;
}
.chart2_content #chart2 {
    width: 50%;
    height: 8rem;
}
.finish div span:nth-child(1) {
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: red;
    position: relative;
    top: -0.05rem;
}
.finish div span:nth-child(2){
    margin-left: 0.5rem;
    color: #a0a0a0;
}
.finish div:nth-child(1){
    margin-top: 1rem;
}
.finish div {
    height: 1.2rem;
    line-height: 1.2rem;
}