/* 
* @Author: Administrator
* @Date:   2018-05-21 18:56:28
* @Last Modified by:   Administrator
* @Last Modified time: 2018-05-21 20:54:33
*/
*{margin:0;padding:0;box-sizing:border-box;}
ul,ol,li{margin:0;padding:0;list-style: none;}