@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {
        
    })

</script>
@using (Html.BeginForm("Index", "EduTrain"))
{
    <div class="main-content">
        <div class="container-fluid">
           
                <iframe allowfullscreen="true" src=@(ViewData["EduPageUrl"] + "/page/businesspage/train/trainproject/JzpxList.aspx?data=" + ViewData["valCode"]) style="width:100%;height:810px;border:none;" scrolling="no"></iframe>
           
            
            
            <footer class="main-footer">
                武汉博晟安全技术股份有限公司   版权所有
            </footer>
        </div>

    </div>
}