
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/common.js"></script>
<link href="~/Content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<link href="~/Content/scripts/plugins/image-view/viewer.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script src="~/Content/scripts/plugins/image-view/viewer.js"></script>
@Html.Partial("UserSelect")
<style type="text/css">

    .file {
        position: relative;
        display: inline-block;
        overflow: hidden;
        text-decoration: none;
        text-indent: 0;
        cursor: pointer !important;
    }

        .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            cursor: pointer !important;
        }

        .file:hover {
            text-decoration: none;
            cursor: pointer !important;
        }
</style>
<script>
    var keyValue = request('keyValue');
    $(function () {

        keyValue = keyValue.length == 0 ? '@Guid.NewGuid().ToString()' : keyValue;

          //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: '/..@Url.Action("GetFormJson")',
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
        var canDel = true;
        var canUpload = true;
        if (request("actiontype")=="show") {
            $("input,textarea,select").attr("disabled", "disabled");
            canDel = false;
            canUpload = false;
        }

        file_upload.init({
            keyValue: keyValue, multiple: false, extensions: 'jpg,gif,bmp,png', isImage: true, el: '#uploader', fileNumLimit: 9
        });

        file_upload.bindFiles(canDel, true, keyValue, "uploader", canUpload);
    })


    function select() {
        selectUser('@ViewBag.dept', 'multiple', function (data) {
           
            var userid = '';
            var username = '';
            if (!!data.length) {
                jQuery.each(data, function (o, i) {
                    userid += i.UserId + ",";
                    username += i.RealName + ",";
                })
            } else {
                userid = data.UserId;
                username = data.RealName;
            }
            jQuery('#UserId').val(userid.replace(/,$/, ''));
            jQuery('#UserName').val(username.replace(/,$/, ''));
        });
    }

        //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData["Score"] = FixedNum(postData["Score"]);
        $.SaveForm({
            url: '/..@Url.Action("SaveForm")' +'?keyValue=' + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    /**
 * 精确小数点后两位
 * @@param num {number} 要进行转换的数
 * @@param fixedCount {number} 精确的位数(整数)
 */
    var FixedNum = (num, fixedCount = 1) => {
        var newNum = num;
        var decimalLen = String(num).indexOf(".") + 1;//取小数点的位置
        var count = String(num).length - decimalLen;//取小数点后的数字的个数
        if (decimalLen > 0 && count > fixedCount) {
            newNum = Number(num).toFixed(fixedCount);
        }
        return newNum;
    }


</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <th class="formTitle">姓名<font face="宋体">*</font></th>
            <td class="formValue" colspan="3">
                <div class="input-group" style="width:100%;">
                    <input type="hidden" id="Id" name="Id" />
                    <textarea type="text" id="UserName" name="UserName" class="form-control" rows="5" isvalid="yes" checkexpession="NotNull" readonly="readonly"></textarea>
                    <span class="input-group-addon" onclick="select()" title="选择成员" style="cursor:pointer;">...</span>
                    <input type="hidden" id="UserId" name="UserName" />
                </div>
            </td>
        </tr>
        <tr>
            <th class="formTitle">区域</th>
            <td class="formValue">
                <input id="Area" name="Area" type="text" max="8" class="form-control" placeholder="" maxlength="50">
            </td>
            <th class="formTitle">分值<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="Score" name="Score" type="text" max="8" class="form-control" placeholder="数字，精确到小数点后一位" maxlength="10" isvalid="yes" checkexpession="Double">
            </td>
        </tr>
        <tr>
            <th class="formTitle">积分原因<font face="宋体">*</font></th>
            <td class="formValue" colspan="3">
                <textarea id="Reasons" name="Reasons" rows="5" class="form-control" maxlength="512" isvalid="yes" checkexpession="NotNull"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">图片</td>
            <td class="formValue" align="center" colspan="3">
                <div id="uploader" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                    <div class="queueList">
                        <div id="dndArea" class="placeholder">
                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                        </div>
                    </div>
                    <div class="statusBar" style="display:none;">
                        <div class="progress">
                            <span class="text">0%</span>
                            <span class="percentage"></span>
                        </div>
                        <div class="info"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle"></td>
            <td class="formValue" align="center" style=" color:red;" colspan="3">
                *注：当选择多个人员时，会生成多条数据
            </td>
        </tr>
    </table>
</div>




