@{
    ViewBag.Title = "人员选择";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<script>
    jQuery(function () {
        $('#search').bind('keyup', function (event) {
            if (event.keyCode == "13") {
                search();
            }
        });


        $('#layout').layout({
            applyDemoStyles: false,
            west: {
                size: 300,
            },
            onresize: function () {
                $(window).resize()
            }
        });

        jQuery('#tree').treeview({
            height: $(window).height() - 50,
            url: '@Url.Action("SelectUser")'

        });
    });
    function search() {
        var getval = $("#search").val();

        jQuery('#tree').treeview({
            height: $(window).height() - 50,
            url: '@Url.Action("SelectUser")'
        });
    }
    function AcceptClick(callback) {
        var node = jQuery('#tree').getCurrentNode();

        callback(node);
        dialogClose();
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-center">
        <div class="panel">
            @*<div class="panel-Title">
                    <input id="search" class="form-control" placeholder="选择人员" />
                </div>*@
            <div id="tree"></div>
        </div>
    </div>
</div>