
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_OrderForm.cshtml";
}

<link href="~/Content/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/jqgrid/jqgrid.min.js"></script>
<script src="~/Content/scripts/business/common.js"></script>
<script src="~/Content/scripts/jquery/jquery.serializeJSON.min.js"></script>
<script src="~/Content/scripts/jquery/jquery.url.js"></script>
<script>
    var keyvalue = request('keyvalue');
    var type = request('type');
    $(
        function () {
            if (keyvalue) {

                    $.ajax({
                        url: "@Url.Action("getEntity")?keyvalue=" + keyvalue,
                        type: "get",
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            $("#form1").formDeserialize(data);
                            if (data.workstate=="已完成") {
                                $("#workstatebox").attr("checked","true");
                            }
                            $("#starttime").val(data.starttime.substr(0, 10));
                            $("#endtime").val(data.endtime.substr(0, 10));
                            $("#cycleShow").val(data.cycleDataStr);

                        }
                });

                $("#id").val(keyvalue);

                if (type=="state") {
                    $("#stateShow").css("display", "")
                } else {
                    $("#detailShow").css("display", "")
                }

            }


        }
    )

    function AcceptClick() {
        var ck = $("#workstatebox").is(":checked");
        $.SaveForm({
            url: '@Url.Action("PostState")?keyvalue=' + keyvalue + "&state=" + ck,
            param: {},
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })

    }

</script>

<div style="margin-left: 10px; margin-top: 20px; margin-right: 30px;">
    <table id="from1" class="form">

        <tr>
            <th class="formTitle">工作任务<font face="宋体">*</font></th>
            <td class="formValue" colspan="4">
                <textarea id="content" class="form-control" style="height:80px" maxlength="500" readonly="readonly" checkexpession="NotNull"></textarea>
            </td>

        </tr>
        <tr>
            <th class="formTitle">计划时间</th>
            <td class="formValue">
                <input class="form-control" readonly="readonly" style="" value="" id="starttime" />
            </td>
            <td class="formValue">
                <input class="form-control" readonly="readonly" value="" id="endtime" />
            </td>
            <th class="formTitle">责任人<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="dutyuserid" name="dutyuserid" type="hidden" value="" />
                <input class="form-control" id="dutyuser" name="dutyuser" type="text" value="" readonly="readonly" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">周期<font face="宋体">*</font></th>
            <td class="formValue" colspan="4">
                <input class="form-control" id="cycleShow" type="text" value="" readonly="readonly" checkexpession="NotNull" />
                <input id="cycle" name="cycle" type="hidden" value="" />
                <input id="cycledate" name="cycledate" type="hidden" value="" />
                <input id="isweek" name="isweek" type="hidden" value="" />
                <input id="islastday" name="islastday" type="hidden" value="" />
                <input id="isend" name="isend" type="hidden" value="" />
                <input id="id" name="id" type="hidden" value="" />
            </td>

        </tr>

        <tr id="detailShow" style="display:none;">
            <th class="formTitle">状态</th>
            <td class="formValue">
                <input class="form-control" readonly="readonly" id="workstate" />
            </td>
            <td class="formValue" colspan="3"></td>
        </tr>

        <tr id="stateShow" style="display:none;">
            <th class="formTitle"></th>
            <td class="formValue" colspan="4">
                <input type="checkbox" name="workstatebox" id="workstatebox" />已完成
            </td>

        </tr>
    </table>
</div>
