<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--SqlServer数据库-->
  <!--<add name="BaseDb" connectionString="Server=.;Initial Catalog=erchtms;User ID=sa;Password=bs13579" providerName="System.Data.SqlClient" />-->
  <!--MySql数据库-->
  <add name="BaseDb" connectionString="data source=localhost;port=3306;initial catalog=bzzd;user id=root;password=1234;charset=utf8" providerName="MySql.Data.MySqlClient"/>
  <!--<add name="BaseDb" connectionString="Data Source=10.36.1.47;port=3306;Initial Catalog=bzzd_gdxj;user id=root;password=123456;charset=utf8" providerName="MySql.Data.MySqlClient"/>-->
  <!--Oracle数据库-->
  <!--<add name="BaseDb" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.36.0.170)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));PASSWORD=1234;PERSIST SECURITY INFO=True;USER ID=C##BSFRAMEWORK;" providerName="Oracle.ManagedDataAccess.Client"/>-->
  <!--达梦数据库-->
  <!--<add name="BaseDb" connectionString="server=10.36.0.170;uid=fhq;pwd=123456789;database=C##BSFRAMEWORK;SCHEMA=C##BSFRAMEWORK;" providerName="DmProvider" />-->
  <!--<add name="DataContext" connectionString="Data Source=10.36.5.3;port=3306;Initial Catalog=bst-bzzd;user id=bzuser;password=1234" providerName="MySql.Data.MySqlClient" />-->
  <add name="MisConnection" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orclpdb1)));PASSWORD=1234;PERSIST SECURITY INFO=True;USER ID=maximo;" providerName="Oracle.ManagedDataAccess.Client"/>

</connectionStrings> 