<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="AppClient" />
  <!-- 允许重复登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="false" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="false" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="WebCache" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wx3e4c8f84a165a142" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="XDwJUlMeqQAVI3Iu0ZpJ-5MYzBJmhuBAF9GTBqY7mnJg_j23JTidYcslyTg9SL0B" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.learun.cn" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="上海力软信息技术有限公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="bz" />
  <!-- 软件名称 -->
  <add key="SoftName" value="LeaRun.敏捷开发框架" />
  <!-- 软件版本 -->
  <add key="Version" value="6.1" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:2013101712345678" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="true" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="力软邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="sendbug@learun.cn1" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="learun123" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!-- 附件存储物理路径 -->
  <add key="FilePath" value="D:\班组\班组智能终端\BSFramework.Application\BSFramework.Application.Web\Resource" />
  <!--web平台应用跟目录地址 -->
  <add key="AppUrl" value="http://192.168.1.134/bzweb/" />

  <add key="AppVersion" value="14" />
  <add key="ReleaseVersion" value="2.3.0" />

  <add key="AppVersionNew" value="8" />
  <add key="ReleaseVersionNew" value="1.5.2" />
  <add key="AndroidPhoto" value="http://192.168.1.134/bzweb/Content/images/home_slogn.png" />
  <add key="QRPhoto" value="http://192.168.1.134/bzweb/Content/images/App.png" />
  <add key="RegistCode" value="134" />
  <!--是否使用极光推送(1:使用，0：不是用)-->
  <add key="IsUseJPush" value="0" />
  <!--极光推送的用户名-->
  <add key="AppKey" value="7e424ae0e917bf1224d74eea" />
  <!--极光推送的密码-->
  <add key="MasterSecret" value="ea6924ba5d1b889a996d6155" />
  <!--点击极光推送消息IOS当前环境(true：生产环境，false:开发环境)-->
  <add key="apns_production" value="false" />
  <!--是否使用极光推送(1:使用，0：不是用)-->
  <!--
  <add key="IsUseJPush" value="0" />
  -->
  <!--极光推送的用户名-->
  <!--
  <add key="AppKey" value="7e424ae0e917bf1224d74eea" />
  -->
  <!--极光推送的密码-->
  <!--
  <add key="MasterSecret" value="ea6924ba5d1b889a996d6155"
  -->
  <!--点击极光推送消息IOS当前环境(true：生产环境，false:开发环境)-->
  <add key="apns_production" value="true" />
  <!--移动端应用名称-->
  <add key="AppName" value="班组帮" />
  <!--演示环境-->
  <add key="DemoKey" value=""/>
  <!--应急处置卡配置-->
  <add key="EmergencyCard" value="HSE部"/>
  <add key="workinnovation" value="HSE部"/>
  <add key="pdfview" value="http://192.168.1.134/bzweb/Pdf/Detail/"/>
  <!--培训平台同步人员-->
  <add key="TrainingSync" value="0"/>
  <add key="TrainingSystem" value="http://ztsj-sit.bosafe.com/BZWebService_common/BzInterface.asmx/"/>
  <add key="SkSystem" value="http://192.168.1.134/kfdcapp/api/SyncData/SupervisionTask"/>
  <!--视频-->
  <add key="videosystem" value="http://storage.bosafe.com"/>
  <add key="playsystem" value="http://content.bosafe.com"/>
  <add key="userKey" value="user"/>
  <add key="appkey" value="8a5ec6ff1abd4bac9298ccff512190df"/>

  <add key="appid" value="001"/>
  <add key="appcode" value="FastDFS1234Bossien"/>
  <add key="sharpness" value="sd"/>
  <add key="TrainingPrefix" value="Test"/>
  <!--培训平台教育培训-->
  <add key="bzjypx" value="http://ztsj-sit.bosafe.com/BZWebService_common/BzInterface.asmx/GetServiceHelper"/>
  <add key="ErchtmsApiUrl" value="http://192.168.1.134/kfdcapp/api/"/>
  <add key="SyncUrl" value="http://192.168.1.134/kfdcapp/api/syncdata/" />
  <add key="TrainingType" value="人身风险预控"/>
  <add key="TrainingRootId" value="996dc4bc-aa03-43d4-8984-3e744a213bcd"/>
   <!--<add key="CustomerModel" value="危险预知训练"/>-->
  <!--是否开启工作票-->
  <add key="isHumanDanger" value="是"/>
  <add key="CompareValue" value="0.8" />
  <add key="Ticket" value=""/>
</appSettings>